flask~=3.0.2
PyYaml~=6.0
graypy~=2.1.0
requests~=2.31.0
pymongo~=4.6.2
waitress~=3.0.0
colorlog~=6.8.2
bleach~=6.1.0
dnspython>=2.6.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability