<!DOCTYPE html>
<meta
  name    = "color-scheme"
  content = "light dark"
/>
<html>
<head>
  <title>Deathgarden Bloodharvest testing API</title>
</head>
<body>
<h1>Welcome to the Deathgarden Bloodharvest Testing API.</h1>
<p>For more information please visit its GitHub Repository.</p>
<div class="github-card" data-github="wolfswolke/DeathGarden_API_Rebirth" data-width="400" data-height="155" data-theme="default"></div>
<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
</body>
</html>
