<!DOCTYPE html>
<html>
<head>
  <title>Deathgarden Bloodharvest REBIRTH API</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="theme-color" content="#ffffff">
  <style>
    body {
      background-color: #333;
      color: #fff;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      text-align: center;
    }
    h1 {
      color: white;
    }
    p {
      margin-bottom: 20px;
    }
    a {
      color: #007bff; /* blue */
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
<h1>Welcome to the Deathgarden Bloodharvest REBIRTH API.</h1>
<p>For more information please visit its GitHub Repository.</p>
<div class="github-card" data-github="wolfswolke/DeathGarden_API_Rebirth" data-width="400" data-height="155" data-theme="default"></div>
<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
<p></p>
<a href="/debug/matchmaking" style="color: #007bff;">Match Status</a>
</body>
</html>


