<!DOCTYPE html>
<meta
  name    = "color-scheme"
  content = "light dark"
/>
<html>
<head>
  <title>Deathgarden Bloodharvest testing API Updater Endpoint</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
<h1>This Endpoint is used to update any files that we provide.</h1>
<p>For more information read the doc.</p>
</body>
</html>


